@model IEnumerable<PhanLoai>
<div class="row">
    <div class="col-lg-12">
<div class="hb-menu">
    <nav>
        <ul>
            @foreach(var item in Model)
            {
                <li><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maPhanloai="@item.MaPhanLoai">@item.PhanLoaiChinh</a></li>
            }
           
        </ul>
    </nav>
</div>
    </div>
</div>

