@model BaoCao.Models.Username

@{
    ViewData["Title"] = "SuaUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>Username</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username1" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiUser" class="control-label"></label>
                <input asp-for="LoaiUser" class="form-control" />
                <span asp-validation-for="LoaiUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

