@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BaoCao.Models.Sach

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPhamMoi</h1>

<h4>Sach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSach" class="control-label"></label>
                <input asp-for="MaSach" class="form-control" />
                <span asp-validation-for="MaSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxb" class="control-label"></label>
                <select asp-for="MaNxb" class ="form-control" asp-items="ViewBag.MaNxb"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNxh" class="control-label"></label>
                <select asp-for="MaNxh" class ="form-control" asp-items="ViewBag.MaNxh"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaTheLoai" class="control-label"></label>
                <select asp-for="MaTheLoai" class ="form-control" asp-items="ViewBag.MaTheLoai"></select>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgonNgu" class="control-label"></label>
                <input asp-for="NgonNgu" class="form-control" />
                <span asp-validation-for="NgonNgu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTrang" class="control-label"></label>
                <input asp-for="SoTrang" class="form-control" />
                <span asp-validation-for="SoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayPhatHanh" class="control-label"></label>
                <input asp-for="NgayPhatHanh" class="form-control" />
                <span asp-validation-for="NgayPhatHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhoiLuong" class="control-label"></label>
                <input asp-for="KhoiLuong" class="form-control" />
                <span asp-validation-for="KhoiLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DinhDang" class="control-label"></label>
                <input asp-for="DinhDang" class="form-control" />
                <span asp-validation-for="DinhDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLonNhat" class="control-label"></label>
                <input asp-for="GiaLonNhat" class="form-control" />
                <span asp-validation-for="GiaLonNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhoNhat" class="control-label"></label>
                <input asp-for="GiaNhoNhat" class="form-control" />
                <span asp-validation-for="GiaNhoNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

