@model BaoCao.Models.KhachHang

@{
    ViewData["Title"] = "ThemKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h4>KhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemKH">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKh" class="control-label"></label>
                <input asp-for="MaKh" class="form-control" />
                <span asp-validation-for="MaKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKh" class="control-label"></label>
                <input asp-for="TenKh" class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <select asp-for="Username" class ="form-control" asp-items="ViewBag.Username"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

